body {
    margin: 0;
    box-sizing: border-box;
}
div#bigPictureContainer {
    display: flex;
    margin-top: 1rem;
    height: calc(80vh - 1rem);
}
div#bigPictureContainer > div  {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
}
div#bigPictureContainer > div > i  {
    flex: 1;
    font-size: 3rem;
}
div#bigPictureContainer div#bigPicture {
    flex: 10;
    overflow: hidden;
}
div#bigPicture img {
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
div#thumbnailContainer {
    height: calc(20vh - 1rem);
    display: flex;
    margin-top: 1rem;
}
div#thumbnailContainer > div {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
}
div#thumbnailContainer > div > i  {
    flex: 1;
    font-size: 1rem;
}
div#thumbnailContainer div#thumbnailRoll {
    flex: 10;
    overflow: hidden;
}
div#thumbnailContainer div#thumbnailRoll div#movingRoll {
    height: 100%;
    position: relative;
    display: flex;
}
div#thumbnailContainer div#thumbnailRoll img {
    height: 100%;
    margin-right: 1rem;
}
div#fullScreenOverlay  {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;

}
div#fullScreenOverlay img {
    max-width: 95vw;
    max-height: 95vh;
    flex:1;
}
